BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 90
NamespaceIndentation: None
AlwaysBreakAfterReturnType: All
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLambdasOnASingleLine: true
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 4
BinPackArguments: false
BinPackParameters: false
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: CaseSensitive
SpaceAfterCStyleCast: true
AlignEscapedNewlines: Left
FixNamespaceComments: false
RequiresExpressionIndentation: OuterScope
